name: Lint
permissions:
  contents: read
on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: make install

      - name: Run ruff check
        run: make lint-ruff

      - name: Run ruff format
        run: make format-check

      - name: Run mypy
        run: make lint-mypy

      - name: Run bandit
        run: make lint-bandit
